parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - %rootDir%/../../../vendor/laravel/framework/src/Illuminate/Routing/CallableDispatcher.php