<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- use in-memory SQLite for fast, isolated tests -->
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="LARITOR_ENABLED" value="true"/>
        <env name="LARITOR_INGEST_ENDPOINT" value="https://example.com"/>
        <env name="LARITOR_BACKEND_KEY" value="test"/>

        <!-- avoid caches/sessions/queues side effects -->
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
</phpunit>
